<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>

    <title>Конкурсы</title>
</head>
<body>
<div th:replace="/navbar :: navbar"></div>

<div class="container">
    <span><a sec:authorize="isAuthenticated()" th:href="@{/contests/create}">Создать конкурс</a></span>
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Название конкурса</th>
                    <th>Категория</th>
                    <th>Организация</th>
                    <th>Дата начала</th>
                    <th>Дата окончания приёма решений</th>
                    <th>Призовой фонд</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="con : ${contestList.getContent()}">
                    <td>
                        <a th:href="@{'/contests/contest/' + ${con.getId()}}" th:text="${con.getContestName()}">Конкурс</a>
                    </td>
                    <td>
                        <ul>
                            <li th:each="c :${#strings.arraySplit(con.getCategories(), ' ')}">
                                <p th:text="${c}"></p>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${con.organization?.name}"></td>
                    <td th:text="${#temporals.format(con.getStartDate(), 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(con.getDeadline(), 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${con.getPrize()!=null? con.getPrize(): 'нет'}"></td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${contestList.getTotalPages() > 1}">
                    <li class="page-item" th:classappend="${!contestList.hasPrevious()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/contests?page=' + ${0}}"
                           tabindex="-1">В начало</a>
                    </li>
                    <th:block th:each="item : ${#numbers.sequence(0, contestList.getTotalPages()-1)}">
                        <li class="page-item" th:classappend="${item == contestList.getNumber()? 'active' : ''}"
                            th:if="${item >= contestList.getNumber() -3 && item <= contestList.getNumber() + 3}">
                            <a class="page-link" th:href="@{'/contests?page=' + ${item}}"
                               th:text="${item + 1}"></a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!contestList.hasNext()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{'/contests?page=' + ${contestList.getNumber() + 1}}">Следующая</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>