<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/contests}">Конкурсы</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">О проекте</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">FAQ</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasRole('ANONYMOUS')"><a th:href="@{/login}">Войти</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <div class="dropdown">
                            <input type="button" class="btn" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-expanded="false"
                                    th:value="${#authentication.name}">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" th:href="@{/user}">Профиль</a>
                                <br>
                                <a class="dropdown-item" href="#" th:href="@{/logout}">Выйти</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
</div>
</html>

